.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 2em;
}
.skills__image > img {
    width: 100%;
    border-radius: 0.5rem;
    max-width: 500px;
}
.skillSet {
    padding: 0 20px;
}
.skillSet > p {
    margin-bottom: 40px;
}
