#experience {
    margin-bottom: 100px;
}
.work__container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0 auto;
    width: 70%;
    gap: 2em;
}
.work__img > a {
    text-decoration: none;
}
.work__img > a > p {
    color: black;
    text-align: center;
    padding-top: 0.5em;
}
.work__img > a > img {
    width: 100%;
    height: 200px;
    display: block;
}
